.b-color {
	&-dark-img {
		background: url(../img/background/dark.png);	
	}

	&-gray {
		background-color: $gray;
	}

	&-gold-img {
		background: url(../img/background/light.png);
	}

	&-gold {
		background-color: $gold;
	}

	&-white {
		background-color: $white;
	}
}
