.text {
	&-s {
		font-size: $text-s;
	}

	&-m {
		font-size: $text-m;
	}

	&-l {
		font-size: $text-l;
	}

	&-xl {
		font-size: $text-xl;
	}	

	&-xxl {
		font-size: $text-xxl;
	}

	&-xxxl {
		font-size: $text-xxxl;
	}	
}

.text {
	&-center {
		text-align: center;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-white {
		color: $white;
	}
}
