/*Fonts*/

$font-primary: "Roboto Slab";

/*Colors*/

$white: #ffffff;
$light-white: #f8f9fa;
$black: #000000;
$gray: #acacac;
$dark-gray: #808080;
$light-gray: #c0c0c0;
$gold: #ffeb95;
$gainsboro: #dcdcdc;
$orange: #fece24;

/*Headings*/

$heading-m: 1.5625rem;
$heading-l: 1.875rem;

/*Text*/

$text-xs: 1rem;
$text-s: 1.1rem;
$text-m: 1.15rem;
$text-l: 1.2rem;
$text-xl: 1.25rem;
$text-xxl: 1.35rem;
$text-xxxl: 3.8125rem;
